$font-stack: "Commissioner", sans-serif;
$font-kukurudza: "Kukurudza";
$black: #1a1a1a;
$orange: #ff6b00;
$blue: #5668e6;
$white: #fefefe;
$purple: #6736d0;
$purple-light: #c7b4ff;
$orange-light: #ffdcbc;

@mixin flexible {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin back-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* main section */

.main {
  overflow: hidden;
  border-radius: 50px 50px 0 0;
  background-color: $white;
  padding: 145px 0 200px 0;
  position: relative;
  z-index: 1;

  .img-desck {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .container {
    z-index: 2;
  }
  h1 {
    span {
      color: $purple;
    }
    margin-bottom: 20px;
  }

  .list {
    display: inline-block;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 11px;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 25px;

      img {
        max-width: 32px;
        height: auto;
      }
    }
  }

  .main-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 670px;
    gap: 20px 10px;
    margin-top: 20px;

    .button {
      height: 70px;
      max-width: 330px;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 100% */
    }
    div {
      @include flexible();
      justify-content: space-between;
      grid-column: 1/3;
    }
    p {
      color: #747474;
      &:last-child {
        justify-self: end;
      }
    }
  }
}

/* about-block section */

.about-block {
  @include back-image();
  padding: 100px 0 200px 0;
  border-radius: 60px 60px 0 0;
  overflow: hidden;
  background-image: url(./../img/about-back.svg);
  margin-top: -100px;
  z-index: 2;
  background-color: $black;
  color: $white;

  .items {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
  }

  .item {
    background-color: #3f3f3f;
    border-radius: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: 86px auto;
    grid-template-rows: max-content auto;
    gap: 10px 20px;
    width: 100%;
  }
  .icon-block {
    border-radius: 15px;
    background: linear-gradient(180deg, #b795ff 0%, #8656e6 100%);
    grid-row: 1/3;
    text-align: center;
    height: 100%;
    position: relative;

    img {
      position: sticky;
      top: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .button {
    margin-top: 20px;
  }
}

/* for  section */
.for {
  padding: 100px 0 100px 0;
  color: $white;
  border-radius: 50px;
  background-image: url(../img/it-for-back.png);
  @include back-image();
  position: relative;
  z-index: 3;
  margin-top: -100px;
  overflow: hidden;


  .for-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
  }
  .for-item {
    display: flex;
    flex-direction: column;

    .header {
      position: relative;
      display: grid;
      align-items: center;
      grid-template-columns: 67px auto;
      gap: 10px 20px;
      padding: 20px 30px 20px 40px;
      border-radius: 30px 30px 0px 0px;
      height: 200px;

      &::after {
        position: absolute;
        width: 81px;
        height: 42px;
        content: url(../img/check.svg);
        top: -21px;
        right: 40px;
      }

      h4 {
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px; /* 113.636% */
        color: $black;
      }

      .icon {
        width: 68px;
        height: 68px;
        min-width: 68px;
        background-color: $white;
        border-radius: 50%;
        @include flexible();

        img {
          width: 100%;
        }
      }

      p {
        grid-column: 1/3;
        color: $black;
      }
    }

    &:nth-child(1) {
      .header {
        background-color: #c8d8ff;
      }
      .body {
        .text {
          color: #5668e6;
        }
      }
    }

    &:nth-child(2) {
      .header {
        background-color: #ded3ff;

        .icon {
          img {
            width: 72%;
          }
        }
      }
      .body {
        .text {
          color: #6736d0;
        }
      }
    }

    &:nth-child(3) {
      .header {
        background-color: #ffc0de;
      }
      .body {
        .text {
          color: #ab4c90;
        }
      }
    }
    .body {
      background-color: $white;
      padding: 20px 35px 30px 40px;
      border-radius: 0 0 30px 30px;
      margin-top: -1px;
      flex: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .text {
        font-family: "Kukurudza";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 100% */

        span {
          font-family: "Commissioner";
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px; /* 125% */
          margin-bottom: 5px;
          display: inline-block;
        }
      }
    }
  }
  .button-black {
    margin-top: 20px;
  }
}

/* design section */
.design {
  overflow: hidden;
  color: $white;
  padding: 100px 0 200px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .content {
  }
  .items {
    display: grid;
    grid-template-columns: 433px;
    gap: 10px;
    margin-top: 50px;
  }
  .item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 20px;
    background: $purple;
    max-width: 433px;
    height: 100px;
    padding-left: 26px;
    padding-right: 16px;

    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 20px; /* 125% */
    }
  }
  .image {
    position: absolute;
    right: 0px;
    bottom: -135px;
    width: 58vw;
    max-width: 840px;
    height: auto;

    img {
      width: 100%;
    }
    .mobile {
      display: none;
    }
  }

  .button {
    margin-top: 60px;
    border: none;
  }
}

/* program section */
.program {
  padding: 112px 0 64px;
  position: relative;
  z-index: 2;

  .program-title {
    display: flex;
    align-items: center;

    h2 {
      color: #ffffff;
      margin-right: 10px;
    }
  }

  .accordion {
    color: $white;

    .accordion-heading {
      padding: 36px 0;

      p {
        align-items: center;
        max-width: calc(100% - 50px);

        .accordion-icon {
          background-color: $purple;
          background-image: url(../img/accordion-program.png);
          margin-bottom: 0;
        }
      }
    }
    .accordion-item {
      &:not(:nth-last-child(-n + 2)) {
        .accordion-heading {
          border-bottom: solid 1px rgba(221, 221, 221, 0.5);
        }
      }
    }
    .accordion-item.open {
      &:not(:nth-last-child(-n + 2)) {
        .accordion-content {
          border-bottom: solid 1px rgba(221, 221, 221, 0.5);
          padding-bottom: 30px;
        }
        .accordion-heading {
          border-bottom: none;
        }
      }
    }
    .open .accordion-icon {
      background-color: $orange !important;
    }

    .accordion-content {
      margin-top: -9px;

      .lessons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
      }

      .bold {
        margin-bottom: 30px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px; /* 137.5% */
        max-width: 440px;
      }

      .lists {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .orange {
          margin-bottom: 10px;
          display: block;
          color: $orange;
        }
        .blue {
          color: $blue;
          margin-bottom: 10px;
        }

        .study,
        .materials {
          li {
            display: flex;
            gap: 10px;
            align-items: start;
            margin-bottom: 5px;
          }

          img {
            padding-top: 5px;
          }
        }
      }
    }
  }
}

/* training section */

.training {
  overflow: hidden;
  border-radius: 60px;
  background: #fefefe;
  position: relative;
  padding: 100px 0;
  margin-bottom: 10px;
  margin-top: -100px;

  .training-top {
    border-radius: 30px;
    border: 1px solid #e8e8e8;
    background: $black;
    @include back-image();
    background-image: url(./../img/training-back.svg);
    color: $white;
    display: flex;
    align-items: center;
    padding: 50px 70px 60px;
    justify-content: space-between;
    margin-bottom: 100px;

    .title {
      font-size: 30px;
      line-height: 30px; /* 100% */
      min-width: max-content;

      span {
        color: $purple-light;
      }
    }

    .sub-title {
      font-size: 20px;
      line-height: 25px; /* 125% */
      font-family: "Commissioner";
      font-style: normal;
      font-weight: 300;
      max-width: 500px;
    }

    div { 
      display: flex;

      &:nth-of-type(1) { 
        flex-direction: column;
      }
    }
    .text {
      font-size: 25px;
      line-height: 25px; /* 100% */
      font-family: "Kukurudza";
      max-width: 403px;

      span {
        color: $purple-light;
      }
    }
    .decor {
      padding-top: 25px;
    }
    .goblet {
      margin: auto 7px auto 15px;
    }
  }

  .items {
    margin-top: 50px;
  }

  .slider-training {
    .slick-track {
      gap: 20px;
    }

    /* Стрелка */

    .slick-arrow {
      height: 60px;
      width: 60px;
      background-color: $purple;

      top: -110px;
    }

    /* Стрелка влево */
    .slick-arrow.slick-prev {
      background-image: url(../img/prev-arrow.svg);
      left: 409px;
      background-position: 40%;
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next {
      background-image: url(../img/next-arrow.svg);
      left: 478px;
      background-position: 60%;
    }
  }
  .slide {
    width: 30vw;
    min-height: 100%;
    min-width: 433px;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      position: relative;
      gap: 10px;
      padding: 30px;
      border-radius: 30px 30px 0px 0px;
      background: #ded3ff;
      height: 185px;

      &::after {
        position: absolute;
        width: 81px;
        height: 42px;
        content: url(../img/check.svg);
        top: -21px;
        right: 40px;
      }

      .icon {
        width: 45px;
        height: 45px;
        min-width: 45px;
        background-color: $white;
        border-radius: 50%;

        text-align: center;
        font-family: "Kukurudza";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 39.5px; /* 131.667% */
      }

      h5 {
        font-family: "Commissioner";
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px;
      }
    }

    .body {
      border-radius: 0px 0px 30px 30px;
      background: #fff;
      margin: -3px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: auto;
      height: auto;

      img {
        width: auto;
        height: 100%;
      }
    }

    &:nth-child(6) {
      .body {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding-top: 14px;
        margin: 0;

        img {
          min-width: 100%;
          margin-left: 50px;
        }
      }
    }
  }
  .training-bottom {
    position: relative;
    border-radius: 30px;
    background: #6736d0;
    margin-top: 60px;
    padding: 50px 65px 65px;
    color: $white;

    .img-bonus {
      max-width: 300px;
      margin-bottom: 15px;
    }
    .img-phone {
      position: absolute;
      right: 0;
      height: 100%;
      top: 0;
    }
    p {
      color: #fefefe;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px; /* 125% */
      max-width: 500px;

      span {
        font-style: italic;
        font-weight: 600;
      }
    }
    .button {
      margin-top: 50px;
      width: 390px;
      height: 70px;
      font-size: 20px;
      line-height: 20px; /* 100% */
      position: relative;
      z-index: 2;
      border: none;


      &::after {
        content: "";
        display: block;
        z-index: -1;
        position: absolute;
        background-image: url(./../img/present.svg);
        @include back-image();
        width: 92px;
        height: 109px;
        bottom: 0;
        right: -72px;
      }
    }
  }
}

/* rates section */

.rates {
  overflow: hidden;
  padding: 50px 0;
  background-color: #333333;
  padding-top: 100px;
  padding-bottom: 200px;
  border-radius: 60px;
  position: relative;

  .container {
  }
  .content {
    background-color: #1a1a1a;
    padding: 120px 90px 100px 90px;
    position: relative;
    border-radius: 60px;
    background-image: url(../img/back.png);
    color: $white;

    &::after {
      content: url(../img/xxxxx.svg);
      position: absolute;
      right: 90px;
      top: -10px;
    }

    .sub-title {
      color: $purple-light;
    }
  }
  .sub-title {
  }
  .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    margin-top: 50px;
  }

  .rate {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;

    .header {
      position: relative;
      height: 100px;
      padding: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Ermilov-Bold";
      font-size: 35px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      border-radius: 30px 30px 0px 0px;

      &::after {
        position: absolute;
        width: 81px;
        height: 42px;
        content: url(../img/check.svg);
        top: -21px;
        right: 50px;
      }
    }
    .body {
      background-color: $white;
      padding: 50px 30px 30px 50px;
      border-radius: 0px 0px 30px 30px;
      min-height: max-content;
      flex: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
    }

    ul {
      &:last-of-type {
        margin-bottom: 60px;
      }

      li {
        display: flex;
        gap: 10px;
        align-items: center;
        color: $black;
        margin-bottom: 10px;

        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 20px; /* 125% */
        }
        span {
          display: block;
          width: 20px;
          min-width: 20px;
          height: 20px;
          background-image: url(../img/check-grey.png);
          @include back-image();
          background-size: 90%;
          border-radius: 50%;
          overflow: visible;
        }
      }
    }

    .active {
      span {
        background-color: #c0c0c0;
      }
    }
    .bonus {
      span {
        background-color: $purple;
      }
      p {
        color: $purple;
        font-weight: 600;
      }
    }
    .no-active {
      span {
        background-color: #c0c0c0;
        background-image: none;
      }
    }
    .vip {
      span {
        background-color: #ff6b00;
      }
      p {
        color: #ff6b00;
        font-weight: 600;
      }
    }
    .cost {
      margin-top: auto;

      p {
        color: #1a1a1a;
        text-align: center;
        font-family: "Ermilov-Bold";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }
    }
    .cost-full {
      margin-bottom: 6px;
      position: relative;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;

      p {
        color: #c0c0c0;
        font-size: 29px;
      }
      span {
        display: block;
        background-color: #c0c0c0;
        width: 100%;
        height: 2px;
        transform: rotate(-10deg);
        position: absolute;
        bottom: 13px;
        left: 0;
      }
    }

    .line {
      background-color: #808080;
      width: calc(100% + 100px);
      margin: 50px auto 0 auto;
      height: 50px;
      margin-left: -53px;

      p {
        text-align: center;
        animation: text 5s infinite linear;
        padding-left: 100%;
        white-space: nowrap;

        color: #fefefe;
        text-align: center;
        font-family: "Commissioner";
        padding-top: 4px;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 155.8%; /* 38.95px */
        text-transform: uppercase;
      }
    }
    @keyframes text {
      0% {
        transform: translate(0, 0);
      }

      100% {
        transform: translate(-160%, 0);
      }
    }
    .button {
      margin-top: 10px;
      align-self: end;
    }

    &:nth-child(1) {
      .button {
        background-color: $purple;
        &:hover {
          background-color: $orange;
        }
      }
      .button-booking {
        background-color: $purple-light;
        color: $black;

        &:hover {
          background-color: $purple;
          color: $white;
        }
      }

      .header {
        background-color: $purple;
      }
    }

    &:nth-child(2) {
      .header {
        background-color: $orange;
      }

      .button {
        background-color: $orange;
        &:hover {
          background-color: $purple;
        }
      }
      .button-booking {
        background-color: $orange-light;
        color: $black;

        &:hover {
          background-color: $orange;
          color: $white;
        }
      }
    }
  }
}

/* speaker section */

.speakers {
  overflow: hidden;
  border-radius: 60px;
  background: $white;
  padding: 100px 0 100px 0;
  margin-bottom: 10px;
  z-index: 2;
  position: relative;

  h2 {
    display: block;
    position: relative;

    .mobile {
      display: none;
    }

    img {
      position: absolute;
      top: -8px;
      left: 334px;
    }
  }

  .items {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

    .slick-track {
      max-width: 100%;
      justify-content: center;
    }

    .speaker {
      border-radius: 30px;
      background: #E8E8E8;
      position: relative;
      padding: 90px 48px 50px 30px;
      max-width: 600px;
      min-width: 500px;

      .head {
        position: absolute;
        top: -50px;
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .text {
        font-family: "Commissioner";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        border-radius: 10px;
        background: $blue;
        padding: 14px 13px 16px 55px;
        margin-left: -50px;
        width: 68%;

        p {
          color: $white;

          &:nth-child(1) {
            color: #c8d8ff;
            font-family: "Ermilov-Bold";
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }

      .avatar {
        width: 140px;
        min-width: 140px;
        min-height: 140px;
        height: 140px;
        border-radius: 50%;
        overflow: hidden;
        z-index: 10;

        img {
          object-fit: cover;
          width: 100%;
          object-position: center;
          height: 100%;
        }

        a {
          display: block;
          background-image: url(../img/insta-link.svg);
          width: 37px;
          height: 37px;
          background-color: $black;
          background-size: 18px;
          background-position: center;
          position: absolute;
          background-repeat: no-repeat;
          border-radius: 50%;
          top: 0;
        }
      }

      .about {
        p {
          font-family: "Commissioner";
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          line-height: 20px;
          font-weight: 300;
        }
        h6 {
          font-family: "Kukurudza";
          font-size: 25px;
          font-style: normal;
          font-weight: 400;
          line-height: 25px; /* 100% */
          margin-bottom: 5px;
          display: flex;
          gap: 10px;
          align-items: center;
          margin-top: 20px;

          span {
            img {
              width: 22px;
              height: 24px;
            }
          }
        }
      }

      .descriprion {
        font-family: "Commissioner";
        font-size: 14px;
        font-style: normal;
        font-weight: 700 !important;
        line-height: 20px;
      }
    }
  }

  .button {
    margin-top: 10px;
  }
}

/* reviews section */

.reviews {
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 50px;
  background-color: $white;
  padding: 90px 0 140px 0;

  h2 {
    position: relative;
    margin-bottom: 50px;

    img {
      position: absolute;
      top: -43px;
      left: 254px;
    }

    span {
      color: $orange;
    }
  }

  .reviews-slider {
    width: calc(100vw - 50px);

    .slick-list {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }

    .slick-track {
      gap: 20px;
      position: relative;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
    .slick-arrow {
      bottom: -24px;
      height: 55px;
      width: 55px;
      background-color: $purple;
      background-size: 30px;
    }
    /* Стрелка влево */
    .slick-arrow.slick-prev {
      background-image: url(../img/prev.png);
      right: 116px;
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next {
      background-image: url(../img/next.png);
      right: 50px;
    }
  }
}

/* faq section */

.faq {
  overflow: hidden;
  background-color: $white;
  padding-top: 100px;
  border-radius: 50px 50px 0 0;

  .button {
    margin-top: 30px;
    background-color: $black;
  }
  .accordion {
    .accordion-heading {
      p {
        .accordion-icon {
          background-color: $purple-light;
        }
      }
    }
    .open {
      .accordion-heading {
        p {
          .accordion-icon {
            background-color: $orange-light;
          }
        }
      }
    }
  }
}

/* support section */

.support {
  overflow: hidden;
  padding: 100px 0;
  background-color: $white;
  border-radius: 0 0 50px 50px;
  margin-top: -2px;
  color: $white;

  .inner {
    border-radius: 30px;
    background: $purple;
    padding: 50px 70px;
    @include flexible();
    justify-content: space-between;
    align-items: start;
    position: relative;

    .about-support {
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;

      p {
        max-width: 280px;
        font-size: 16px;
        line-height: 20px; /* 125% */
      }

      &::after {
        position: absolute;
        content: "";
        background-image: url(./../img/support-decor.svg);
        @include back-image();
        width: 19vw;
        height: 100px;
        left: 70%;
        bottom: -30px;
      }
    }

    h3 {
      font-family: "Ermilov-Bold";
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px; /* 100% */
      margin-right: 80px;
    }
    .avatar {
      width: 66px;
      min-width: 66px;
      height: 66px;
      border-radius: 50%;
      @include flexible();
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .button {
    border: none;
    width: fit-content;
    padding-left: 56px;
    padding-right: 56px;
    height: 70px;
    padding-top: 3px;
    margin-left: auto;
  }
}

/* video-block section */
.video-block {
  background-color: $white;
  border-radius: 50px;
  padding: 100px 0 50px 0;
  text-align: center;
  margin-top: 10px;

  h2 {
    margin-bottom: 10px;
  }
  p {
    color: $blue;
    font-family: "Kukurudza";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
  }

  .video {
    border-radius: 30px;
    width: 100%;
    height: 52vw;
    min-height: 208px;
    margin-top: 50px;
    overflow: hidden;

    video {
      width: 100%;
      border-radius: 30px;
      height: auto;
    }
  }
}
